<h2 style="color: white" mat-dialog-title>Update</h2>
<form #updateTodo="ngForm" (ngSubmit)="onSubmit(updateTodo)" novalidate>
  <mat-dialog-content>
    <label>Title </label>
    <input type="text" name="title" class="form-control" placeholder="Enter title" [ngModel]="task.title" required
           ngModel/><br>
    <label>Description </label>
    <input type="text" name="description" class="form-control" placeholder="Enter description"
           [ngModel]="task.description" required ngModel/><br>
    <label>Finish date </label>
    <input type="hidden" name="createDate" class="form-control" [ngModel]="task.createDate | date:'dd-MM-yyyy HH:mm'"

           (ngModelChange)="task.createDate = $event" required ngModel/><br>
    <input type="hidden" name="finishDate" [ngModel]="task.finishDate" required ngModel>

    <input type="hidden" name="priority" class="form-control" [ngModel]="task.priority"/>
    <input type="hidden" name="active" class="form-control" [ngModel]="task.active"/>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Choose another finish date"
             [min]="currentDate" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn btn-orange">Update</button>
    <div class="cancel" mat-dialog-close>Close</div>
  </mat-dialog-actions>
</form>
