<body>
  <div class="header">
    <p>
      <i [ngClass]="task.active ? 'fa fa-circle-o' : 'fa fa-check'" aria-hidden="true" (click)="changeStatus(task.id)"></i>
      <label class="title-header">{{task.title}} </label>
    </p>
  </div>


    <p *ngIf="task.finishDate !== null">Finish date: {{ convertDate(task.finishDate) }}</p>
    <p *ngIf="task.description !== null">Description: {{task.description}}</p>
    <p>Priority: {{task.priority}}</p>
    <mat-form-field appearance="outline">
        <input class="date-finish" matInput [matDatepicker]="picker" placeholder="Choose another finish date"
             [min]="currentDate" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <hr>
  <i class="fa fa-minus fa-2x" (click)="showForm()" *ngIf="isAddDescriptionFieldShown" >
    Change description
  </i>
    <form #toDo="ngForm" *ngIf="isAddDescriptionFieldShown"  (ngSubmit)="addDescription(toDo)" novalidate>
        <textarea  placeholder="Enter description" class="form-control" name="description" required ngModel></textarea>
        <input type="hidden" name="title" [ngModel]="task.title"/>
        <input type="hidden" name="createDate" [ngModel]="task.createDate | date: 'dd-MM-yyyy HH:mm'">
        <input type="hidden" name="finishDate" [ngModel]="task.finishDate | date: 'dd-MM-yyyy HH:mm'">

        <button class="btn btn-orange">Create</button>
    </form>

    <i class="fa fa-plus fa-2x" (click)="showForm()" *ngIf="!isAddDescriptionFieldShown && task.description != null" >
        Change description
    </i>

</body>
